body {
    font-family: "Roboto", sans-serif;
    /*padding-top: 60px;*/
}

/* Background */
.background-container {
    padding: 0;
}


.initially-hidden {
    display: none;
}


.top-background {
    
     background: rgba(179,232,222,0.5);
/*    background: linear-gradient(170deg, rgba(59,232,222,0.8) 0%, rgba(59,232,222,0.8) 15%, rgba(18,100,200,0.8) 80%);*/

    min-height: 1000px;
    width: 100%;
    position: absolute;
/*    top: -250px;*/

    z-index: -5;
/*    transform: skewY(-14deg);*/
}


/*Top Menu*/

header {
    background: rgba(0, 0, 0, 0.7);
    height: 40px;
    color: white;
    margin-top: 4px;
}

.menu-item, .menu-logo {
    text-transform: uppercase;
    line-height: 36px;
    margin-left: 16px;
}

.menu-logo {
    color: rgba(179,232,222,0.5);
}

.menu-item a {
    color: inherit;
    text-decoration: none;
}

#intro {
    display: block;
}

.initially-hidden {
    display: none;
}

.container {
    padding: 20px;
}

#current-card-container {
 
    text-align: center;
}

.draw-button {
    margin-bottom: 10px;
    padding: 20px;
}
